/* CSS styling */
html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #5E35B1;
}

/* Sticky footer helper */
.content {
    min-height: 100%;
  }

/* Sticky footer helper */
.content-inside {
    padding-bottom: 50px;
}

/* Navbar brand text treatment */
.navbar-brand {
    font-size: x-large;
    font-weight: bold;
}

.navbar {
    background-color: #311B92;
}

/* Top padding to avoid navbar */
.container {
    padding-top: 100px;
}

/* Inner padding for design purposes */
.card {
    padding: 40px 40px 40px 40px;
    border-radius: 15px;
}

.jumbotron {
    margin: 0;
}

/* Color for jumbotron lead paragraph */
.lead {
    color:dimgray;
}

.img {
    border-radius: 10px;
}

.project-info {
    padding: 8px;
}

/* Article heading treatment */
h2, h3 {
    color: #311B92;
}

/* Paragraph treatment */
p {
    color: dimgray
}

/* Sticky footer text treatment */
h6 {
    font-size: 12px;
    color: #9575CD;
    line-height: 40px;
}

.note {
    font-size: small;
}

.note {
    text-align: center;
    font-size: small;
    color: #9575CD;
}

/* Cancelling padding on this element */
#social-bar {
    padding: 0px 0px 0px 0px;
}

/* Sticky footer with negative margin */
.footer {
    height: 50px;
    margin-top: -50px;
    text-align: center;
    background-color: #311B92;
  }
